# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Dependências / build (caso o projeto cresça)
node_modules/
dist/
.cache/

# Temporários
*.log
_dbg.html
_debug.html
